@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); 


* { 
    padding: 0px;
    margin: 0px;
}

a { 
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover { 
    opacity: 0.7;
}

.logo { 
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav { 
    display: flex;
    justify-content: space-around;
    align-items: center ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 8vh;
}

.navlist {
    list-style: none;
    display: flex
}

.navlist li { 
    margin-left: 25px;
}

.trocadeoleo { 
    height: 80vh;
    background-image: url(imgs/trocadeoleo.jpg);
    background-size: cover;
    background-position: center ;
}

.trocadeoleo h1 { 
    width: 400px;
    position: relative;
    left: 3vw;
    top: 56vh;
    color: aliceblue;
    font-family: "Roboto Slab", serif;
}

.trocadeoleo img { 
    position: relative;
    top: 60vh;
}

.servicos { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 25px;
    margin-top: 50px;
}

.conteudo { 
    width: 800px;
    margin: auto;
}

.container { 
    display: flex;
    justify-content: center;
}

.box { 
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300pxpx;
    height: 500px;
    background-color: rgb(26, 26, 26);
    border: 1px solid white; 
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.37);
}

.box img{ 
    width: 280px;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
} 

.box h1 { 
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 1.5em;
    text-align: center;
}

.box p { 
    padding-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 1.1em;
    text-align: center;
}

.feedbacks { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.feedbacks p { 
    margin-bottom: 10px ;;
}

.maps h1 {
    margin-bottom: 30px;
    color: black;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

footer{ 
    margin-top: 10px;
    color: aliceblue;
    background-color: rgb(26, 26, 26);
    text-align: center;
}

footer p { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a:visited { 
    text-decoration: none;
    color: white;
}


.final { 
    display: flex;
    justify-content: space-around;
}

.final li { 
    font-size: 1.5em;
    list-style: none;
}

#funcionamento {
    margin-bottom: 100px;
 }
    
#funcionamento ul{ 
    font-size: 1.5em;
    margin-bottom: 10px;
}

#funcionamento li{ 
    font-size: 1.2em; 
}


.minilogo { 
    width: 20px;
}
.minilogo1 { 
    width: 30px;
}